.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 18%;
  margin-left: 60px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-right: 30px;
}

.my-photo img {
  width: 100%;
  border-radius: 200px;
}

.header-content {
  width: 60%;
  margin: 20px;
}

.content{
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom:100px;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies,
.languages,
.tecnologies {
  display: none;
  border-top:0px;
}

.active {
  display: block;
  border-radius: 0px 15px 15px 15px;
  padding: 25px;
}

#experience{
  background-color: rgb(120, 202, 202);
}

#studies{
  background-color: rgb(224, 120, 59);
}

#languages{
  background-color: rgb(153, 233, 138);
}

#tecnologies{
  background-color: rgb(224, 215, 129);
}

footer{
  padding:30px;
  background-color:lightgrey
}

button:focus{
  outline: none;
  box-shadow: none;
}

#button_experiences{
  border: 0px;
  border-radius: 15px 15px 0px 0px;
  padding:20px;
  font-size:1.5em;
  background-color: rgb(120, 202, 202);
}

#button_experiences:hover{
  color:blue;
}

#button_studies{
  border: 0px;
  border-radius: 15px 15px 0px 0px;
  padding:20px;
  font-size:1.5em;
  background-color: rgb(224, 120, 59);
}

#button_studies:hover{
  color:red;
}

#button_languages{
  border: 0px;
  border-radius: 15px 15px 0px 0px;
  padding:20px;
  font-size:1.5em;
  background-color: rgb(153, 233, 138);
}

#button_languages:hover{
  color:green;
}


#button_tecnologies{
  border: 0px;
  border-radius: 15px 15px 0px 0px;
  padding:20px;
  font-size:1.5em;
  background-color: rgb(224, 215, 129);
}

#button_tecnologies:hover{
  color:yellow;
}